openapi: 3.1.0
info:
  description: ""
  license:
    name: ""
  title: HenrikDev API
  version: 4.6.0
servers:
- url: https://api.henrikdev.xyz
security:
- api_key_header: []
- api_key_query: []
tags:
- description: Valorant public API endpoints
  name: valorant
- description: Premium account and webhook endpoints
  name: premium
paths:
  /valorant/v1/account/{name}/{tag}:
    get:
      operationId: get_account_v1
      parameters:
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV1Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/account/{puuid}:
    get:
      operationId: get_account_by_id_v1
      parameters:
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV1Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/account/{name}/{tag}:
    get:
      operationId: get_account_v2
      parameters:
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/account/{puuid}:
    get:
      operationId: get_account_by_id_v2
      parameters:
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get account by PUUID (v2)
      tags:
      - valorant
  /valorant/v1/accolades/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_accolades_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccoladesV1Response"
          description: Accolades retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get player accolades by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/accolades/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_accolades_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccoladesV1Response"
          description: Accolades retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get player accolades by PUUID (v1)
      tags:
      - valorant
  /valorant/v1/agent-mastery/{affinity}/{platform}/{name}/{tag}:
    get:
      description: Modules are null when not included by Riot; use the single-agent
        endpoint for modules. Unknown metadata names and omitted levels are null.
        Short and long levels retain Riot's source semantics.
      operationId: get_mastery_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMasteryV1Response"
          description: Mastery retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: "Invalid region, platform or UUID"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unable to fetch or parse mastery
      summary: Get all agent mastery by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/agent-mastery/{affinity}/{platform}/{puuid}:
    get:
      description: Modules are null when not included by Riot; use the single-agent
        endpoint for modules. Unknown metadata names and omitted levels are null.
        Short and long levels retain Riot's source semantics.
      operationId: get_mastery_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMasteryV1Response"
          description: Mastery retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: "Invalid region, platform or UUID"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unable to fetch or parse mastery
      summary: Get all agent mastery by PUUID (v1)
      tags:
      - valorant
  /valorant/v1/agent-mastery/{affinity}/{platform}/{name}/{tag}/{agent_id}:
    get:
      description: Includes numeric modules when returned by Riot. Unknown metadata
        names and omitted levels are null. Short and long levels retain Riot's source
        semantics.
      operationId: get_mastery_agent_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Agent UUID
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMasteryV1DetailResponse"
          description: Mastery retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: "Invalid region, platform, UUID or unknown agent"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account or agent mastery not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unable to fetch or parse mastery
      summary: Get agent mastery by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/agent-mastery/{affinity}/{platform}/{puuid}/{agent_id}:
    get:
      description: Includes numeric modules when returned by Riot. Unknown metadata
        names and omitted levels are null. Short and long levels retain Riot's source
        semantics.
      operationId: get_mastery_agent_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Agent UUID
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentMasteryV1DetailResponse"
          description: Mastery retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: "Invalid region, platform, UUID or unknown agent"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account or agent mastery not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Unable to fetch or parse mastery
      summary: Get agent mastery by PUUID (v1)
      tags:
      - valorant
  /valorant/v1/mmr/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_v1_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV1Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/mmr/{affinity}/{puuid}:
    get:
      operationId: get_mmr_v1_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV1Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/mmr/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_v2_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV2Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by name (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/mmr/{affinity}/{puuid}:
    get:
      operationId: get_mmr_v2_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV2Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by PUUID (v2)
      tags:
      - valorant
  /valorant/v3/mmr/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_mmr_v3_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV3Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by name (v3)
      tags:
      - valorant
  /valorant/v3/by-puuid/mmr/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_mmr_v3_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV3Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR by PUUID (v3)
      tags:
      - valorant
  /valorant/v1/mmr-history/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_history_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV1Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/mmr-history/{affinity}/{puuid}:
    get:
      operationId: get_mmr_history_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV1Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/mmr-history/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_mmr_history_v2_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV2Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by name (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/mmr-history/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_mmr_history_v2_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV2Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get MMR history by PUUID (v2)
      tags:
      - valorant
  /valorant/v3/matches/{affinity}/{name}/{tag}:
    get:
      operationId: get_matches_v3_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Current catalog queue ID or legacy mode name; must resolve to
          the same queue when queue is also supplied.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Validated alias of mode; current catalog queue IDs and legacy
          mode names are accepted.
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: "Map display name, matched case-insensitively."
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Positive integer result count; values above 10 are capped at
          10.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 5
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV3ListResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by name (v3)
      tags:
      - valorant
  /valorant/v3/by-puuid/matches/{affinity}/{puuid}:
    get:
      operationId: get_matches_v3_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Current catalog queue ID or legacy mode name; must resolve to
          the same queue when queue is also supplied.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Validated alias of mode; current catalog queue IDs and legacy
          mode names are accepted.
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: "Map display name, matched case-insensitively."
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Positive integer result count; values above 10 are capped at
          10.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 5
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV3ListResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by PUUID (v3)
      tags:
      - valorant
  /valorant/v4/matches/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_matches_v4_by_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Current catalog queue ID or legacy mode name; must resolve to
          the same queue when queue is also supplied.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Validated alias of mode; current catalog queue IDs and legacy
          mode names are accepted.
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: "Map display name, matched case-insensitively."
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Positive integer result count; values above 10 are capped at
          10.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 5
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Zero-based offset; start plus capped size must fit a signed 32-bit
          integer.
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483646
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4HistoryResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by name (v4)
      tags:
      - valorant
  /valorant/v4/by-puuid/matches/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_matches_v4_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Current catalog queue ID or legacy mode name; must resolve to
          the same queue when queue is also supplied.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Validated alias of mode; current catalog queue IDs and legacy
          mode names are accepted.
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: "Map display name, matched case-insensitively."
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Positive integer result count; values above 10 are capped at
          10.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 5
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Zero-based offset; start plus capped size must fit a signed 32-bit
          integer.
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483646
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4HistoryResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get matches by PUUID (v4)
      tags:
      - valorant
  /valorant/v2/match/{match_id}:
    get:
      operationId: match_v2
      parameters:
      - description: Match UUID
        explode: false
        in: path
        name: match_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV2Response"
          description: Match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Match not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get match details (v2)
      tags:
      - valorant
  /valorant/v4/match/{affinity}/{match_id}:
    get:
      operationId: match_v4
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Match UUID
        explode: false
        in: path
        name: match_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4Response"
          description: Match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Match not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get match details (v4)
      tags:
      - valorant
  /valorant/v1/leaderboard/{affinity}:
    get:
      operationId: leaderboard_v1
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: "Short season ID, such as e9a1; omission selects the current\
          \ season"
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Player UUID to search for
        explode: true
        in: query
        name: puuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardV1Response"
          description: Leaderboard player array retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get leaderboard (v1)
      tags:
      - valorant
  /valorant/v2/leaderboard/{affinity}:
    get:
      operationId: leaderboard_v2
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: "Short season ID, such as e9a1; omission selects the current\
          \ season"
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Player UUID to search for (optional)
        explode: true
        in: query
        name: puuid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValorantLeaderboardV2Response"
          description: Unfiltered leaderboard metadata or a filtered status/data player
            array
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get leaderboard (v2)
      tags:
      - valorant
  /valorant/v3/leaderboard/{affinity}/{platform}:
    get:
      operationId: leaderboard_v3
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Positive one-based page; supplying page requires size. Only ASCII
          decimal digits are accepted.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: Positive integer result count; only ASCII decimal digits are
          accepted.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 1000
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: "Short season ID, such as e9a1; mutually exclusive with season_id.\
          \ Omit both for the current season."
        explode: true
        in: query
        name: season_short
        required: false
        schema:
          type: string
        style: form
      - description: Season UUID; mutually exclusive with season_short.
        explode: true
        in: query
        name: season_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Player name to search for.
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Player UUID to search for.
        explode: true
        in: query
        name: puuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardV3Response"
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get leaderboard (v3)
      tags:
      - valorant
  /valorant/v1/premier/search:
    get:
      operationId: premier_search
      parameters:
      - description: Team name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Team tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Team UUID to search for; cannot be combined with name or tag
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Current upstream Premier conference key; case-insensitive; not
          a fixed enum
        explode: true
        in: query
        name: conference
        required: false
        schema:
          type: string
        style: form
      - description: Division filter; integer from 1 through 21
        explode: true
        in: query
        name: division
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierSearchResponse"
          description: Premier team search results retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: No teams found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Search Premier teams (v1)
      tags:
      - valorant
  /valorant/v1/premier/leaderboard/{affinity}:
    get:
      description: "Conference and division filters are path segments on the registered\
        \ routes /valorant/v1/premier/leaderboard/{affinity}/{conference} and /valorant/v1/premier/leaderboard/{affinity}/{conference}/{division},\
        \ not query parameters. Conference keys come from the current upstream catalog\
        \ and are case-insensitive; division is an integer from 1 through 21. Use\
        \ lowercase affinity for persisted team matching."
      operationId: premier_leaderboard
      parameters:
      - description: Region/affinity; validation is case-insensitive; use lowercase
          for persisted team matching
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierSearchResponse"
          description: Premier leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier leaderboard (v1)
      tags:
      - valorant
  /valorant/v1/premier/{name}/{tag}:
    get:
      operationId: premier_by_name
      parameters:
      - description: Team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: "Region/affinity for fallback resolution; validation is case-insensitive,\
          \ but use lowercase for persisted team matching"
        explode: true
        in: query
        name: affinity
        required: false
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Multiple teams match this name and tag
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team by name (v1)
      tags:
      - valorant
  /valorant/v1/premier/{id}:
    get:
      operationId: premier_by_id
      parameters:
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: "Region/affinity for fallback resolution; validation is case-insensitive,\
          \ but use lowercase for persisted team matching"
        explode: true
        in: query
        name: affinity
        required: false
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team by ID (v1)
      tags:
      - valorant
  /valorant/v2/premier/teams/{affinity}/{id}:
    get:
      description: "Fetches directly from Riot without caching. Includes the current\
        \ season and season summaries, member roles and join dates. Season names are\
        \ resolved from cached metadata and are null when unavailable. The seasons\
        \ list may also include the current season and is sorted by ID, not chronologically.\
        \ Dates are UTC RFC 3339. Leaderboard ranks and match history are not included."
      operationId: premier_by_id_v2
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV2Response"
          description: Premier team retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Invalid region or UUID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Failed to fetch or parse Riot data
      summary: Get live Premier team by ID (v2)
      tags:
      - valorant
  /valorant/v2/premier/teams/{affinity}/{name}/{tag}:
    get:
      description: "Resolves distinct candidate team IDs from the existing team index,\
        \ then verifies their current name, tag and affinity against Riot without\
        \ roster caching. Teams absent from the index cannot be discovered by name.\
        \ At most 25 candidates are checked, with at most four concurrent roster fetches\
        \ and a ten-second deadline covering index lookup and Riot verification. More\
        \ than 25 candidates, an expired deadline or a non-404 upstream failure returns\
        \ 500 rather than a partial result. Stale Riot 404 candidates are skipped.\
        \ A unique result or 404 requires complete candidate exhaustion; two verified\
        \ live matches return 409. Returns the same response as team lookup by ID;\
        \ the seasons list may include the current season."
      operationId: premier_by_name_v2
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Premier team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Premier team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV2Response"
          description: Premier team retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Invalid region or empty name/tag
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: No matching team found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Multiple teams match; use team ID lookup
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Failed to resolve the team or fetch Riot data
      summary: Get live Premier team by team name (v2)
      tags:
      - valorant
  /valorant/v2/premier/players/{affinity}/{puuid}:
    get:
      description: "Fetches the player's current roster directly from Riot without\
        \ caching, using the same response as team lookup v2. Includes the current\
        \ season, season summaries and member roles. The seasons list may also include\
        \ the current season and is sorted by ID, not chronologically. Dates are UTC\
        \ RFC 3339. A player without a roster returns 404."
      operationId: premier_by_puuid
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV2Response"
          description: Player's Premier team retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Invalid region or UUID
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Player has no Premier team
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Failed to fetch or parse Riot data
      summary: Get live Premier team by player PUUID (v2)
      tags:
      - valorant
  /valorant/v2/premier/players/{affinity}/{name}/{tag}:
    get:
      description: "Resolves the player's Riot ID to a PUUID using a live alias lookup,\
        \ then fetches their current Premier roster without caching. Returns the same\
        \ response as team lookup by ID."
      operationId: premier_by_player_name
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Player Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV2Response"
          description: Player's Premier team retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Invalid region or empty name/tag
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Player not found or has no Premier team
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Failed to resolve the player or fetch Riot data
      summary: Get live Premier team by player Riot ID (v2)
      tags:
      - valorant
  /valorant/v1/premier/{name}/{tag}/history:
    get:
      operationId: premier_by_name_history
      parameters:
      - description: Team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamHistoryV1Response"
          description: Premier team history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team history by name (v1)
      tags:
      - valorant
  /valorant/v1/premier/{id}/history:
    get:
      operationId: premier_by_id_history
      parameters:
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Premier season id (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamHistoryV1Response"
          description: Premier team history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get Premier team history by ID (v1)
      tags:
      - valorant
  /valorant/v1/esports/schedule:
    get:
      operationId: esports_schedules_v1
      parameters:
      - explode: true
        in: query
        name: region
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: league
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV1Response"
          description: Esports schedule retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Schedule not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get esports schedule (v1)
      tags:
      - valorant
  /valorant/v2/esports/vlr/events:
    get:
      operationId: esports_events_v2
      parameters:
      - explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: "#/components/schemas/EsportsV2Region"
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: "#/components/schemas/EsportsV2EventType"
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2EventsResponse"
          description: Esports events retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR esports events (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/events/{event_id}/matches:
    get:
      operationId: esports_event_v2
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2EventResponse"
          description: Esports event matches retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR event matches (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/matches/{match_id}:
    get:
      operationId: esports_match_v2
      parameters:
      - explode: false
        in: path
        name: match_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2MatchesResponse"
          description: Esports match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR match details (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/teams/{team_id}:
    get:
      operationId: esports_team_v2
      parameters:
      - explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2TeamResponse"
          description: Esports team profile retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR team (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/teams/{team_id}/matches:
    get:
      operationId: esports_team_matches_v2
      parameters:
      - explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2TeamMatchListResponse"
          description: Esports team matches retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR team matches (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/teams/{team_id}/transactions:
    get:
      operationId: esports_team_transactions_v2
      parameters:
      - explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2TeamTransactionsResponse"
          description: Esports team transactions retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR team transactions (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/players/{player_id}:
    get:
      operationId: esports_player_v2
      parameters:
      - explode: false
        in: path
        name: player
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - explode: true
        in: query
        name: timespan
        required: false
        schema:
          $ref: "#/components/schemas/EsportsV2PlayerTimespan"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2PlayerResponse"
          description: Esports player profile retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR player (v2)
      tags:
      - valorant
  /valorant/v2/esports/vlr/players/{player}/matches:
    get:
      operationId: esports_player_matches_v2
      parameters:
      - explode: false
        in: path
        name: player
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV2PlayerMatchesResponse"
          description: Esports player matches retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get VLR player matches (v2)
      tags:
      - valorant
  /valorant/v1/stored-matches/{affinity}/{name}/{tag}:
    get:
      operationId: stored_matches
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Current catalog queue ID or legacy mode name; must resolve to
          the same queue when queue is also supplied.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Validated alias of mode; current catalog queue IDs and legacy
          mode names are accepted.
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: "Map display name, matched case-insensitively."
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Positive integer result count. Omit for unlimited results.
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: One-based page. Supplying page requires size.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMatchesResponse"
          description: Stored match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored matches by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/stored-matches/{affinity}/{puuid}:
    get:
      operationId: stored_matches_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Current catalog queue ID or legacy mode name; must resolve to
          the same queue when queue is also supplied.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Validated alias of mode; current catalog queue IDs and legacy
          mode names are accepted.
        explode: true
        in: query
        name: queue
        required: false
        schema:
          type: string
        style: form
      - description: "Map display name, matched case-insensitively."
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Positive integer result count. Omit for unlimited results.
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: One-based page. Supplying page requires size.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMatchesResponse"
          description: Stored match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored matches by PUUID (v1)
      tags:
      - valorant
  /valorant/v1/stored-mmr-history/{affinity}/{name}/{tag}:
    get:
      operationId: stored_mmr_history
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Positive integer result count. Omit for unlimited results.
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: One-based page. Supplying page requires size.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRResponse"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by name (v1)
      tags:
      - valorant
  /valorant/v1/by-puuid/stored-mmr-history/{affinity}/{puuid}:
    get:
      operationId: stored_mmr_history_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Positive integer result count. Omit for unlimited results.
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: One-based page. Supplying page requires size.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRResponse"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by PUUID (v1)
      tags:
      - valorant
  /valorant/v2/stored-mmr-history/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: stored_mmr_history_v2
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Positive integer result count. Omit for unlimited results.
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: One-based page. Supplying page requires size.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRV2Response"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by name (v2)
      tags:
      - valorant
  /valorant/v2/by-puuid/stored-mmr-history/{affinity}/{platform}/{puuid}:
    get:
      operationId: stored_mmr_history_v2_by_id
      parameters:
      - description: Region/affinity; case-insensitive
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          $ref: "#/components/schemas/ValorantAffinity"
        style: simple
      - description: Platform; case-insensitive
        explode: false
        in: path
        name: platform
        required: true
        schema:
          $ref: "#/components/schemas/ValorantPlatform"
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Positive integer result count. Omit for unlimited results.
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - description: One-based page. Supplying page requires size.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRV2Response"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get stored MMR history by PUUID (v2)
      tags:
      - valorant
  /valorant/v1/content:
    get:
      operationId: get_content_v1
      parameters:
      - description: Content locale; case-insensitive. Omission selects en-US.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          $ref: "#/components/schemas/ValorantContentLocale"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentV1Response"
          description: Content retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      summary: Get content (v1)
      tags:
      - valorant
  /valorant/{version}/store-featured:
    get:
      operationId: StoreFeatured
      parameters:
      - description: Response version; v1 returns an object envelope and v2 returns
          an array envelope
        explode: false
        in: path
        name: version
        required: true
        schema:
          $ref: "#/components/schemas/ValorantStoreVersion"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValorantStoreFeaturedResponse"
          description: Featured store envelope selected by version
        "400":
          content:
            application/json:
              schema:
[...]
