openapi: 3.1.0
info:
  description: ""
  license:
    name: ""
  title: HenrikDev API
  version: 4.4.1
servers:
- url: https://api.henrikdev.xyz
tags:
- description: Valorant public API endpoints
  name: valorant
paths:
  /valorant/v1/account/{name}/{tag}:
    get:
      operationId: get_account_v1
      parameters:
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV1Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/by-puuid/account/{puuid}:
    get:
      operationId: get_account_by_id_v1
      parameters:
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV1Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/by-puuid/mmr-history/{affinity}/{puuid}:
    get:
      operationId: get_mmr_history_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV1Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/by-puuid/mmr/{affinity}/{puuid}:
    get:
      operationId: get_mmr_v1_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV1Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/by-puuid/stored-matches/{affinity}/{puuid}:
    get:
      operationId: stored_matches_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMatchesResponse"
          description: Stored match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/by-puuid/stored-mmr-history/{affinity}/{puuid}:
    get:
      operationId: stored_mmr_history_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRResponse"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/content:
    get:
      operationId: get_content_v1
      parameters:
      - description: "Locale code (e.g., en-US, de-DE) - optional"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentV1Response"
          description: Content retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/crosshair/generate:
    get:
      operationId: crosshair
      parameters:
      - description: Crosshair code
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            image/png: {}
          description: Crosshair image generated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/esports/schedule:
    get:
      operationId: esports_schedules_v1
      parameters:
      - description: Region filter (optional)
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EsportsV1Response"
          description: Esports schedule retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Schedule not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/leaderboard/{affinity}:
    get:
      operationId: leaderboard_v1
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Season ID (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/mmr-history/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_history_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV1Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/mmr/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_v1_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV1Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/premier/leaderboard/{affinity}:
    get:
      operationId: premier_leaderboard
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Conference filter (optional)
        explode: true
        in: query
        name: conference
        required: false
        schema:
          type: string
        style: form
      - description: Division filter (optional)
        explode: true
        in: query
        name: division
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierSearchResponse"
          description: Premier leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/premier/search:
    get:
      operationId: premier_search
      parameters:
      - description: Team name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Team tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Team UUID to search for (optional)
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierSearchResponse"
          description: Premier team search results retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: No teams found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/premier/{id}:
    get:
      operationId: premier_by_id
      parameters:
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/premier/{id}/history:
    get:
      operationId: premier_by_id_history
      parameters:
      - description: Team UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/premier/{name}/{tag}:
    get:
      operationId: premier_by_name
      parameters:
      - description: Team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamV1Response"
          description: Premier team data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Team not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/premier/{name}/{tag}/history:
    get:
      operationId: premier_by_name_history
      parameters:
      - description: Team name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Team tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PremierTeamHistoryV1Response"
          description: Premier team history retrieved successfully
        "400":
          description: Client error
      tags:
      - valorant
  /valorant/v1/queue-status/{affinity}:
    get:
      operationId: QueueStatus
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueStatusV1"
          description: Queue status retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Region not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/raw:
    post:
      operationId: Raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RawV1Payload"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RawV1Response"
          description: Raw Riot API data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/status/{affinity}:
    get:
      operationId: Status
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusV1"
          description: Status retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Region not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/stored-matches/{affinity}/{name}/{tag}:
    get:
      operationId: stored_matches
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMatchesResponse"
          description: Stored match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/stored-mmr-history/{affinity}/{name}/{tag}:
    get:
      operationId: stored_mmr_history
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRResponse"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/version/{affinity}:
    get:
      operationId: Version
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionV1Response"
          description: Version data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Region not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/website/{country_code}:
    get:
      operationId: Website
      parameters:
      - description: "Country code (e.g., en-us, de-de)"
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          type: string
        style: simple
      - description: Category filter (optional)
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsiteV1Response"
          description: Website content retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v1/website/{country_code}/{db_id}:
    get:
      operationId: WebsiteById
      parameters:
      - description: Database ID of the website entry
        explode: false
        in: path
        name: db_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Country code (e.g., en-us, de-de)"
        explode: false
        in: path
        name: country_code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsiteByIdV1Response"
          description: Website entry retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Content not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/account/{name}/{tag}:
    get:
      operationId: get_account_v2
      parameters:
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/by-puuid/account/{puuid}:
    get:
      operationId: get_account_by_id_v2
      parameters:
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Bypass cache and refresh (optional)
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountV2Response"
          description: Account data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/by-puuid/mmr-history/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_mmr_history_v2_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV2Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/by-puuid/mmr/{affinity}/{puuid}:
    get:
      operationId: get_mmr_v2_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV2Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/by-puuid/stored-mmr-history/{affinity}/{platform}/{puuid}:
    get:
      operationId: stored_mmr_history_v2_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRV2Response"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/leaderboard/{affinity}:
    get:
      operationId: leaderboard_v2
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Season ID (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Player UUID to search for (optional)
        explode: true
        in: query
        name: puuid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardV2Response"
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/match/{match_id}:
    get:
      operationId: match_v2
      parameters:
      - description: Match UUID
        explode: false
        in: path
        name: match_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV2Response"
          description: Match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Match not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/mmr-history/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_mmr_history_v2_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRHistoryV2Response"
          description: MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/mmr/{affinity}/{name}/{tag}:
    get:
      operationId: get_mmr_v2_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV2Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v2/stored-mmr-history/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: stored_mmr_history_v2
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoredMMRV2Response"
          description: Stored MMR history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v3/by-puuid/matches/{affinity}/{puuid}:
    get:
      operationId: get_matches_v3_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV3ListResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v3/by-puuid/mmr/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_mmr_v3_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV3Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v3/leaderboard/{affinity}/{platform}:
    get:
      operationId: leaderboard_v3
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Season ID (optional)
        explode: true
        in: query
        name: season
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Page number (optional)
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Player name to search for (optional)
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Player tag to search for (optional)
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardV3Response"
          description: Leaderboard retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Leaderboard not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v3/matches/{affinity}/{name}/{tag}:
    get:
      operationId: get_matches_v3_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          $ref: "#/components/schemas/MatchMode"
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV3ListResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v3/mmr/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_mmr_v3_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MMRV3Response"
          description: MMR data retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v4/by-puuid/matches/{affinity}/{platform}/{puuid}:
    get:
      operationId: get_matches_v4_by_id
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Player UUID
        explode: false
        in: path
        name: puuid
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start index for pagination (optional)
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4HistoryResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v4/match/{affinity}/{match_id}:
    get:
      operationId: match_v4
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: Match UUID
        explode: false
        in: path
        name: match_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4Response"
          description: Match details retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Match not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/v4/matches/{affinity}/{platform}/{name}/{tag}:
    get:
      operationId: get_matches_v4_by_name
      parameters:
      - description: "Region/affinity (e.g., na, eu, ap, kr)"
        explode: false
        in: path
        name: affinity
        required: true
        schema:
          type: string
        style: simple
      - description: "Platform (pc, console)"
        explode: false
        in: path
        name: platform
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID name
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Riot ID tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          type: string
        style: simple
      - description: Game mode filter (optional)
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - description: Map filter (optional)
        explode: true
        in: query
        name: map
        required: false
        schema:
          type: string
        style: form
      - description: Number of results (optional)
        explode: true
        in: query
        name: size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Start index for pagination (optional)
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchesV4HistoryResponse"
          description: Match history retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Account not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/{version}/store-featured:
    get:
      operationId: StoreFeatured
      parameters:
      - description: "API version (v1, v2)"
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreFeaturedV1"
          description: Store featured items retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Store data not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
  /valorant/{version}/store-offers:
    get:
      operationId: StoreOffers
      parameters:
      - description: "API version (v1, v2)"
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoreOffersV1Response"
          description: Store offers retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Store data not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendError"
          description: Internal Server Error
      tags:
      - valorant
components:
  schemas:
    APIError:
      example:
        code: 0
        details: ""
        message: message
        status: 0
      properties:
        code:
          format: int32
          minimum: 0
          type: integer
        details: {}
        message:
          type: string
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - code
      - message
      - status
    AccountV1Data:
      example:
        last_update: last_update
        account_level: 0
        name: name
        puuid: puuid
        tag: tag
        region: region
        card:
          small: small
          large: large
          wide: wide
          id: id
        last_update_raw: 6
      properties:
        account_level:
          format: int32
          type: integer
        card:
          $ref: "#/components/schemas/AccountV1DataCard"
        last_update:
          type: string
        last_update_raw:
          format: int64
          type: integer
        name:
          type: string
        puuid:
          type: string
        region:
          type: string
        tag:
          type: string
      required:
      - account_level
      - card
      - last_update
      - last_update_raw
      - name
      - puuid
      - region
      - tag
    AccountV1DataCard:
      example:
        small: small
        large: large
        wide: wide
        id: id
      properties:
        id:
          type: string
        large:
          type: string
        small:
          type: string
        wide:
          type: string
      required:
      - id
      - large
      - small
      - wide
    AccountV1Response:
      example:
        data:
          last_update: last_update
          account_level: 0
          name: name
          puuid: puuid
          tag: tag
          region: region
          card:
            small: small
            large: large
            wide: wide
            id: id
          last_update_raw: 6
        status: 0
      properties:
        data:
          $ref: "#/components/schemas/AccountV1Data"
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - status
    AccountV2Data:
      example:
        updated_at: updated_at
        account_level: 0
        name: name
        puuid: puuid
        tag: tag
        region: region
        title: title
        card: card
        platforms:
        - platforms
        - platforms
      properties:
        account_level:
          format: int32
          type: integer
        card:
          type: string
        name:
          type: string
        platforms:
          items:
            type: string
          type: array
        puuid:
          type: string
        region:
          type: string
        tag:
          type: string
        title:
          type: string
        updated_at:
          type: string
      required:
      - account_level
      - card
      - name
      - platforms
      - puuid
      - region
      - tag
      - title
      - updated_at
    AccountV2Response:
      example:
        data:
          updated_at: updated_at
          account_level: 0
          name: name
          puuid: puuid
          tag: tag
          region: region
          title: title
          card: card
          platforms:
          - platforms
          - platforms
        status: 0
      properties:
        data:
          $ref: "#/components/schemas/AccountV2Data"
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - status
    AgentIdNameCombo:
      example:
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
    Bundle:
      example:
        WholesaleOnly: true
        DurationRemainingInSeconds: 0
        TotalDiscountPercent: 2.302136
        Items:
        - BasePrice: 6
          Item:
            Amount: 0
            ItemID: ItemID
            ItemTypeID: ItemTypeID
          DiscountedPrice: 5.962134
          IsPromoItem: true
          CurrencyID: CurrencyID
          DiscountPercent: 1.4658129
        - BasePrice: 6
          Item:
            Amount: 0
            ItemID: ItemID
            ItemTypeID: ItemTypeID
          DiscountedPrice: 5.962134
          IsPromoItem: true
          CurrencyID: CurrencyID
          DiscountPercent: 1.4658129
        ID: ID
        CurrencyID: CurrencyID
        DataAssetID: DataAssetID
      properties:
        CurrencyID:
          type: string
        DataAssetID:
          type: string
        DurationRemainingInSeconds:
          format: int32
          minimum: 0
          type: integer
        ID:
          type: string
        Items:
          items:
            $ref: "#/components/schemas/BundleItem"
          type: array
        TotalDiscountPercent:
          format: float
          type: number
        WholesaleOnly:
          type: boolean
      required:
      - CurrencyID
      - DataAssetID
      - DurationRemainingInSeconds
      - ID
      - Items
      - TotalDiscountPercent
      - WholesaleOnly
    BundleItem:
      example:
        BasePrice: 6
        Item:
          Amount: 0
          ItemID: ItemID
          ItemTypeID: ItemTypeID
        DiscountedPrice: 5.962134
        IsPromoItem: true
        CurrencyID: CurrencyID
        DiscountPercent: 1.4658129
      properties:
        BasePrice:
          format: int32
          type: integer
        CurrencyID:
          type: string
        DiscountPercent:
          format: float
          type: number
        DiscountedPrice:
          format: float
          type: number
        IsPromoItem:
          type: boolean
        Item:
          $ref: "#/components/schemas/Item"
      required:
      - BasePrice
      - CurrencyID
      - DiscountPercent
      - DiscountedPrice
      - IsPromoItem
      - Item
    ContentItem:
      example:
        localizedNames:
          key: localizedNames
        name: name
        assetName: assetName
        id: id
      properties:
        assetName:
          type: string
        id:
          nullable: true
          type: string
        localizedNames:
          additionalProperties:
            type: string
        name:
          type: string
      required:
      - assetName
      - name
    ContentV1:
      example:
        playerCards:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        maps:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        chromas:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        charms:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        equips:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        acts:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        sprayLevels:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        version: version
        playerTitles:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        skins:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        ceremonies:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        characters:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        gameModes:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        sprays:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        skinLevels:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        charmLevels:
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
        - localizedNames:
            key: localizedNames
          name: name
          assetName: assetName
          id: id
      properties:
        acts:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        ceremonies:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        characters:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        charmLevels:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        charms:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        chromas:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        equips:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        gameModes:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        maps:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        playerCards:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        playerTitles:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        skinLevels:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        skins:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        sprayLevels:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        sprays:
          items:
            $ref: "#/components/schemas/ContentItem"
          type: array
        version:
          type: string
      required:
      - acts
      - ceremonies
      - characters
      - charmLevels
      - charms
      - chromas
      - equips
      - gameModes
      - maps
      - playerCards
      - playerTitles
      - skinLevels
      - skins
      - sprayLevels
      - sprays
      - version
    ContentV1Response:
      example:
        data:
          playerCards:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          maps:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          chromas:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          charms:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          equips:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          acts:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          sprayLevels:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          version: version
          playerTitles:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          skins:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          ceremonies:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          characters:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          gameModes:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          sprays:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          skinLevels:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          charmLevels:
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
          - localizedNames:
              key: localizedNames
            name: name
            assetName: assetName
            id: id
        status: 0
      properties:
        data:
          $ref: "#/components/schemas/ContentV1"
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - status
    EsportsV1Data:
      example:
        date: date
        league:
          identifier: identifier
          icon: icon
          name: name
          region: region
        match:
          teams:
          - code: code
            record:
              wins: 5
              losses: 1
            icon: icon
            name: name
            game_wins: 6
            has_won: true
          - code: code
            record:
              wins: 5
              losses: 1
            icon: icon
            name: name
            game_wins: 6
            has_won: true
          game_type:
            count: 0
            type: type
          id: id
        vod: vod
        state: state
        tournament:
          name: name
          season: season
        type: type
      properties:
        date:
          type: string
        league:
          $ref: "#/components/schemas/EsportsV1DataLeague"
        match:
          $ref: "#/components/schemas/EsportsV1DataMatch"
        state:
          type: string
        tournament:
          $ref: "#/components/schemas/EsportsV1DataTournament"
        type:
          type: string
        vod:
          nullable: true
          type: string
      required:
      - date
      - league
      - match
      - state
      - tournament
      - type
    EsportsV1DataLeague:
      example:
        identifier: identifier
        icon: icon
        name: name
        region: region
      properties:
        icon:
          type: string
        identifier:
          type: string
        name:
          type: string
        region:
          type: string
      required:
      - icon
      - identifier
      - name
      - region
    EsportsV1DataMatch:
      example:
        teams:
        - code: code
          record:
            wins: 5
            losses: 1
          icon: icon
          name: name
          game_wins: 6
          has_won: true
        - code: code
          record:
            wins: 5
            losses: 1
          icon: icon
          name: name
          game_wins: 6
          has_won: true
        game_type:
          count: 0
          type: type
        id: id
      properties:
        game_type:
          $ref: "#/components/schemas/EsportsV1DataMatchGameType"
        id:
          nullable: true
          type: string
        teams:
          items:
            $ref: "#/components/schemas/EsportsV1DataMatchTeams"
          type: array
      required:
      - game_type
      - teams
    EsportsV1DataMatchGameType:
      example:
        count: 0
        type: type
      properties:
        count:
          format: int32
          nullable: true
          type: integer
        type:
          nullable: true
          type: string
    EsportsV1DataMatchTeams:
      example:
        code: code
        record:
          wins: 5
          losses: 1
        icon: icon
        name: name
        game_wins: 6
        has_won: true
      properties:
        code:
          type: string
        game_wins:
          format: int32
          type: integer
        has_won:
          type: boolean
        icon:
          type: string
        name:
          type: string
        record:
          $ref: "#/components/schemas/EsportsV1DataMatchTeamsRecord"
      required:
      - code
      - game_wins
      - has_won
      - icon
      - name
      - record
    EsportsV1DataMatchTeamsRecord:
      example:
        wins: 5
        losses: 1
      properties:
        losses:
          format: int32
          type: integer
        wins:
          format: int32
          type: integer
      required:
      - losses
      - wins
    EsportsV1DataTournament:
      example:
        name: name
        season: season
      properties:
        name:
          type: string
        season:
          type: string
      required:
      - name
      - season
    EsportsV1Response:
      example:
        data:
        - date: date
          league:
            identifier: identifier
            icon: icon
            name: name
            region: region
          match:
            teams:
            - code: code
              record:
                wins: 5
                losses: 1
              icon: icon
              name: name
              game_wins: 6
              has_won: true
            - code: code
              record:
                wins: 5
                losses: 1
              icon: icon
              name: name
              game_wins: 6
              has_won: true
            game_type:
              count: 0
              type: type
            id: id
          vod: vod
          state: state
          tournament:
            name: name
            season: season
          type: type
        - date: date
          league:
            identifier: identifier
            icon: icon
            name: name
            region: region
          match:
            teams:
            - code: code
              record:
                wins: 5
                losses: 1
              icon: icon
              name: name
              game_wins: 6
              has_won: true
            - code: code
              record:
                wins: 5
                losses: 1
              icon: icon
              name: name
              game_wins: 6
              has_won: true
            game_type:
              count: 0
              type: type
            id: id
          vod: vod
          state: state
          tournament:
            name: name
            season: season
          type: type
        status: 0
      properties:
        data:
          items:
            $ref: "#/components/schemas/EsportsV1Data"
          type: array
        status:
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - status
    FeaturedBundle:
      example:
        Bundle:
          WholesaleOnly: true
          DurationRemainingInSeconds: 0
          TotalDiscountPercent: 2.302136
          Items:
          - BasePrice: 6
            Item:
              Amount: 0
              ItemID: ItemID
              ItemTypeID: ItemTypeID
            DiscountedPrice: 5.962134
            IsPromoItem: true
            CurrencyID: CurrencyID
            DiscountPercent: 1.4658129
          - BasePrice: 6
            Item:
              Amount: 0
              ItemID: ItemID
              ItemTypeID: ItemTypeID
            DiscountedPrice: 5.962134
            IsPromoItem: true
            CurrencyID: CurrencyID
            DiscountPercent: 1.4658129
          ID: ID
          CurrencyID: CurrencyID
          DataAssetID: DataAssetID
        BundleRemainingDurationInSeconds: 0
        Bundles:
        - WholesaleOnly: true
          DurationRemainingInSeconds: 0
          TotalDiscountPercent: 2.302136
          Items:
          - BasePrice: 6
            Item:
              Amount: 0
              ItemID: ItemID
              ItemTypeID: ItemTypeID
            DiscountedPrice: 5.962134
            IsPromoItem: true
            CurrencyID: CurrencyID
            DiscountPercent: 1.4658129
          - BasePrice: 6
            Item:
              Amount: 0
              ItemID: ItemID
              ItemTypeID: ItemTypeID
            DiscountedPrice: 5.962134
            IsPromoItem: true
            CurrencyID: CurrencyID
            DiscountPercent: 1.4658129
          ID: ID
          CurrencyID: CurrencyID
          DataAssetID: DataAssetID
        - WholesaleOnly: true
          DurationRemainingInSeconds: 0
          TotalDiscountPercent: 2.302136
          Items:
          - BasePrice: 6
            Item:
              Amount: 0
              ItemID: ItemID
              ItemTypeID: ItemTypeID
            DiscountedPrice: 5.962134
            IsPromoItem: true
            CurrencyID: CurrencyID
            DiscountPercent: 1.4658129
          - BasePrice: 6
            Item:
              Amount: 0
              ItemID: ItemID
              ItemTypeID: ItemTypeID
            DiscountedPrice: 5.962134
            IsPromoItem: true
            CurrencyID: CurrencyID
            DiscountPercent: 1.4658129
          ID: ID
          CurrencyID: CurrencyID
          DataAssetID: DataAssetID
      properties:
        Bundle:
          $ref: "#/components/schemas/Bundle"
        BundleRemainingDurationInSeconds:
          format: int32
          minimum: 0
          type: integer
        Bundles:
          items:
            $ref: "#/components/schemas/Bundle"
          type: array
      required:
      - Bundle
      - BundleRemainingDurationInSeconds
      - Bundles
    Item:
      example:
        Amount: 0
        ItemID: ItemID
        ItemTypeID: ItemTypeID
      properties:
        Amount:
          format: int32
          minimum: 0
          type: integer
        ItemID:
          type: string
        ItemTypeID:
          type: string
      required:
      - Amount
      - ItemID
      - ItemTypeID
    LeaderboardPVPPlayer:
      example:
        competitiveTier: 0
        numberOfWins: 0
        IsBanned: true
        gameName: gameName
        rankedRating: 0
        PlayerCardID: PlayerCardID
        leaderboardRank: 0
        tagLine: tagLine
        IsAnonymized: true
        puuid: puuid
        TitleID: TitleID
      properties:
        IsAnonymized:
          type: boolean
        IsBanned:
          type: boolean
        PlayerCardID:
          type: string
        TitleID:
          type: string
        competitiveTier:
          format: int32
          minimum: 0
          type: integer
        gameName:
          type: string
        leaderboardRank:
          format: int32
          minimum: 0
          type: integer
        numberOfWins:
          format: int32
          minimum: 0
          type: integer
        puuid:
          nullable: true
          type: string
        rankedRating:
          format: int32
          minimum: 0
          type: integer
        tagLine:
          type: string
      required:
      - IsAnonymized
      - IsBanned
      - PlayerCardID
      - TitleID
      - competitiveTier
      - gameName
      - leaderboardRank
      - numberOfWins
      - rankedRating
      - tagLine
    LeaderboardV2Response:
      example:
        immortal_3_threshold: 1
        immortal_1_threshold: 0
        players:
        - competitiveTier: 0
          numberOfWins: 0
          IsBanned: true
          gameName: gameName
          rankedRating: 0
          PlayerCardID: PlayerCardID
          leaderboardRank: 0
          tagLine: tagLine
          IsAnonymized: true
          puuid: puuid
          TitleID: TitleID
        - competitiveTier: 0
          numberOfWins: 0
          IsBanned: true
          gameName: gameName
          rankedRating: 0
          PlayerCardID: PlayerCardID
          leaderboardRank: 0
          tagLine: tagLine
          IsAnonymized: true
          puuid: puuid
          TitleID: TitleID
        last_update: 5
        radiant_threshold: 2
        total_players: 4
        immortal_2_threshold: 6
        next_update: 5
      properties:
        immortal_1_threshold:
          format: int32
          type: integer
        immortal_2_threshold:
          format: int32
          type: integer
        immortal_3_threshold:
          format: int32
          type: integer
        last_update:
          format: int64
          type: integer
        next_update:
          format: int64
          type: integer
        players:
          items:
            $ref: "#/components/schemas/LeaderboardPVPPlayer"
          type: array
        radiant_threshold:
          format: int32
          type: integer
        total_players:
          format: int32
          type: integer
      required:
      - immortal_1_threshold
      - immortal_2_threshold
      - immortal_3_threshold
      - last_update
      - next_update
      - players
      - radiant_threshold
      - total_players
    LeaderboardV3Data:
      example:
        thresholds:
        - start_index: 5
          tier:
            name: name
            id: 5
          threshold: 2
        - start_index: 5
          tier:
            name: name
            id: 5
          threshold: 2
        updated_at: updated_at
        players:
        - rr: 6
          wins: 5
          tier: 1
          updated_at: updated_at
          is_anonymized: true
          leaderboard_rank: 0
          name: name
          puuid: puuid
          tag: tag
          title: title
          is_banned: true
          card: card
        - rr: 6
          wins: 5
          tier: 1
          updated_at: updated_at
          is_anonymized: true
          leaderboard_rank: 0
          name: name
          puuid: puuid
          tag: tag
          title: title
          is_banned: true
          card: card
      properties:
        players:
          items:
            $ref: "#/components/schemas/LeaderboardV3DataPlayer"
          type: array
        thresholds:
          items:
            $ref: "#/components/schemas/LeaderboardV3DataThreshold"
          type: array
        updated_at:
          type: string
      required:
      - players
      - thresholds
      - updated_at
    LeaderboardV3DataPlayer:
      example:
        rr: 6
        wins: 5
        tier: 1
        updated_at: updated_at
        is_anonymized: true
        leaderboard_rank: 0
        name: name
        puuid: puuid
        tag: tag
        title: title
        is_banned: true
        card: card
      properties:
        card:
          type: string
        is_anonymized:
          type: boolean
        is_banned:
          type: boolean
        leaderboard_rank:
          format: int32
          type: integer
        name:
          type: string
        puuid:
          nullable: true
          type: string
        rr:
          format: int32
          type: integer
        tag:
          type: string
        tier:
          format: int32
          type: integer
        title:
          type: string
        updated_at:
          type: string
        wins:
          format: int32
          type: integer
      required:
      - card
      - is_anonymized
      - is_banned
      - leaderboard_rank
      - name
      - rr
      - tag
      - tier
      - title
      - updated_at
      - wins
    LeaderboardV3DataThreshold:
      example:
        start_index: 5
        tier:
          name: name
          id: 5
        threshold: 2
      properties:
        start_index:
          format: int32
          type: integer
        threshold:
          format: int32
          type: integer
        tier:
          $ref: "#/components/schemas/LeaderboardV3DataThresholdTier"
      required:
      - start_index
      - threshold
      - tier
    LeaderboardV3DataThresholdTier:
      example:
        name: name
        id: 5
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
      required:
      - id
      - name
    LeaderboardV3Response:
      example:
        data:
          thresholds:
          - start_index: 5
            tier:
              name: name
              id: 5
            threshold: 2
[...]
